<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">
      ABOUT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Follow Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          <ion-label>Facebook</ion-label>
          <ion-button slot="end" color="light">
            <a href="https://web.facebook.com/kriszeg.301/?locale=in&_rdc=1&_rdr">Visit</a>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-label>Website</ion-label>
          <ion-button slot="end" color="light">
             <a href="https://rplmedan21.my.id/">Visit</a>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Email</ion-label>
          <ion-button slot="end" color="light">
             <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">contact</a>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-icon name="logo-github" slot="start"></ion-icon>
          <ion-label>GitHub</ion-label>
          <ion-button slot="end" color="light">
            <a href="https://github.com/kristofan">visit</a>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-icon name="logo-instagram" slot="start"></ion-icon>
          <ion-label>Instagram</ion-label>
          <ion-button slot="end" color="light">
             <a href="https://www.instagram.com/zega_rrr/">Follow</a>
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-card>
        <ion-card-content>
          <ion-item>Aplikasi ini dibuat untuk menginput data obat dalam sebuah apotek. aplikasi pendataan obat apotek ini dirancang untuk efisiensi dan ketelitian dalam manajemen stok obat di apotek</ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Tentang Pengembang</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         <ion-item>Kristof Vandel Nopwan Zega
  
         </ion-item>
         <ion-img src="assets/img/kristof.png"></ion-img>
        </ion-card-content>
      </ion-card>

    </ion-card-content>
  </ion-card>
</ion-content>

            

          
          

         

